{% extends "baseTemplate.twig" %}

{% set leavers = data.leavers %}

{% block title %}Личные дела{% endblock %}

{% block navbarClass %}navbar__black{% endblock %}

{% block content %}
    <div class="wrapper__applying">
        <h1 class="text-center">Личные дела</h1>
        <div class="list-group">
        {% for leaver in leavers %}
                <a href="/personal/{{ leaver.id }}/" class="list-group-item">
                    {{ leaver.id }} |
                    {{ leaver.surName }} {{ leaver.name }} {{ leaver.middleName }} |
                    {{ leaver.email }} |
                    Статус заявления:
                    {% if leaver.statusComplete %} поданно {% else %} незавершено {% endif %}
                </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}