<h2>Особое право</h2>
<div class="form-group">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="toggleSpecRights" value="1">
        <label class="form-check-label" for="toggleSpecRights">У меня есть особое право</label>
    </div>
</div>
<div id="specRightsBlock" style="display: none">
    <div id="specRightsInputsGroups">
        <div class="form-group spec_rights_inputs">
            <div class="form-group">
                <label>Тип особого права:</label>
                <select class="form-control" name="specRightsTypes[]" required>
                    <option value="" selected>Я дебил</option>
                    <option value="">детдом</option>
                    {% for prestart in data.specRightsTypes%}
                        <option value="{{specRightsTypes.id}}">{{specRightsTypes.name}}</option>
                    {% endfor %}
                </select>
                <small class="invalid-feedback"></small>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Cкан документа подтверждающего специальное право:</label>
                    <input type="file" class="form-control-file" name="specRightsFiles">
                </div>
            </div>
        </div>
    </div>
    <button id="addSpecRightsInputButton" type="button" class="btn btn-primary">Добавить</button>
    <button id="removeSpecRightsInputButton" type="button" class="btn btn-danger">Удалить</button>
</div>
<hr>
<h2>Приемущественное право</h2>
<div class="form-group">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="togglePreemRights" value="1">
        <label class="form-check-label" for="togglePreemRights">У меня есть приемущественное право</label>
    </div>
</div>
<div id="preemRightsBlock" style="display: none">
    <div id="preemRightsInputsGroups">
        <div class="form-group preem_rights_input_group">
            <div class="form-group">
                <label>Тип приемущественного права:</label>
                <select class="form-control" name="preemRightsTypes[]" required>
                    <option value="" selected>Я дебил</option>
                    <option value="">детдом</option>
                    {% for prestart in data.preemRightsTypes%}
                        <option value="{{preemRightsTypes.id}}">{{preemRightsTypes.name}}</option>
                    {% endfor %}
                </select>
                <small class="invalid-feedback"></small>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Cкан документа подтверждающего приемущественное право:</label>
                    <input type="file" class="form-control-file" name="preemRightsFiles">
                </div>
            </div>
        </div>
    </div>
    <button id="addPreemRightsInputButton" type="button" class="btn btn-primary">Добавить</button>
    <button id="removePreemRightsInputButton" type="button" class="btn btn-danger">Удалить</button>
</div>
<hr>
<h2>Индивидуальные достижения</h2>
<div class="form-group">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="toggleIndividAchievs" value="1">
        <label class="form-check-label" for="toggleIndividAchievs">У меня есть индивидуальные достижения</label>
    </div>
</div>
<div id="individAchievsBlock" style="display: none">
    <div id="individAchievsInputsGroups">
        <div class="form-group individ_achievs_input_group">
            <div class="form-group">
                <label>Тип индивидуального достижения:</label>
                <select class="form-control" name="individAchievsTypes[]" required>
                    <option value="" selected>Я дебил</option>
                    <option value="">детдом</option>
                    {% for individAchievsType in data.individAchievsTypes%}
                        <option value="{{individAchievsType.id}}">{{individAchievsType.name}}</option>
                    {% endfor %}
                </select>
                <small class="invalid-feedback"></small>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Cкан документа подтверждающего индивидуальное достижение:</label>
                    <input type="file" class="form-control-file" name="individAchievsFiles">
                </div>
            </div>
        </div>
    </div>
    <button id="addIndividAchievsInputButton" type="button" class="btn btn-primary">Добавить</button>
    <button id="removeIndividAchievsInputButton" type="button" class="btn btn-danger">Удалить</button>
</div>